
@font-face {
    font-family: 'CustomFont';
    src: url(./pro-fa-brands-400-5.0.0.woff2) format('woff2');
}

@font-face {
    font-family: 'gilroy';
    src: url(./Gilroy-UltraLight.ttf) format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;